<div class="modal-header modal-success">
    <span class="modal-success-icon">
      <i class="fas fa-check"></i>
  </span>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Great!</h4>
        </div>
        <div class="col-md-12 text-center">
            Recebemos seu formulário e logo entraremos em contato.
        </div>
    </div>

</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-success" (click)="modalRef.hide()"><i class="fas fa-times"></i> Fechar</button>
        </div>
    </div>
</div>