<!--The content below is only a placeholder and can be replaced.-->
<ng-template #content let-c="close" let-d="dismiss" class="">
    <div class="modal-body">
        <div class="row text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="assets/img/logo.png" alt="Logo">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p>Olá, nós somos a Guash e adoraríamos ajudá-lo com o seu projeto, que tal fazer um orçamento com a gente? Vamos lá?</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <button class="btn btn-success" (click)="c('Close click')">Comecar</button>
            </div>
        </div>
    </div>
</ng-template>
<section class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="assets/img/logo_mini.png" alt="Logo Mini" class="logo">
        </div>
    </div>
    <form class="primary-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1"><span><i class="fas fa-arrow-right"></i></span>Qual o seu nome?*</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Digite seu nome">
            <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><span><i class="fas fa-arrow-right"></i></span>Tipo de Projeto</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                Opção um &mdash;Tenha certeza antes de marcar isso.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                Opção dois tambem pode ser marcada.
                </label>
            </div>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><span><i class="fas fa-arrow-right"></i></span>Branding</label>
            <small id="brandingHelp" class="form-text text-muted">Caso vc deseje uma nova marca ou um re-design da sua marca ja existente, sinalize uma das opções, caso não seja nenhum dos dois casos</small>
            <div class="form-check">
                <input class="form-check-input" formControlName="opcao" type="radio" name="opcao" id="exampleRadios3" value="option1" checked>
                <label class="form-check-label" for="exampleRadios3">
                  Marca
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" formControlName="opcao" type="radio" name="opcao" id="exampleRadios4" value="option2">
                <label class="form-check-label" for="exampleRadios4">
                  Re-design de Marca
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" formControlName="opcao" type="radio" name="opcao" id="exampleRadios5" value="option3">
                <label class="form-check-label" for="exampleRadios5">
                  Nao preciso de marca
                </label>
            </div>
        </div>
        <div class="form-group" *ngIf="myForm.get('opcao').value=='option1'">
            <label for="exampleInputEmail1"><span><i class="fas fa-arrow-right"></i></span>Qual a papelaria que você irá precisar para  a sua marca?</label>
            <small class="form-text text-muted">Podem ser selecionadas várias opções</small>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question4A">
                        <label class="form-check-label" for="question4A">
                            <span>A</span> Cartao de Visita
                      </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question4B">
                        <label class="form-check-label" for="question4B">
                        <span>B</span> Papel Timbrado
                      </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question4C">
                        <label class="form-check-label" for="question4C">
                          <span>C</span> Envelope Carta
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question4D">
                        <label class="form-check-label" for="question4D">
                            <span>D</span> Pasta
                          </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question4E">
                        <label class="form-check-label" for="question4E">
                        <span>E</span> Carimbo
                      </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question4F">
                        <label class="form-check-label" for="question4F">
                        <span>F</span> Crachat
                      </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question4G">
                        <label class="form-check-label" for="question4G">
                          <span>G</span> Pasta
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question4H">
                        <label class="form-check-label" for="question4H">
                            <span>H</span> Carimbo
                          </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><span><i class="fas fa-arrow-right"></i></span>Escolha entre estes materiais que podem ser específicos para o seu projeto.</label>
            <small class="form-text text-muted">Podem ser selecionadas várias opções</small>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question5A">
                        <label class="form-check-label" for="question5A">
                            <span>A</span> Cartao de Visita
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question5B">

                        <label class="form-check-label" for="question5B">
                        <span>B</span> Papel Timbrado
                      </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question5C">
                        <label class="form-check-label" for="question5C">
                          <span>C</span> Envelope Carta
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question5D">
                        <label class="form-check-label" for="question5D">
                            <span>D</span> Pasta
                          </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question5E">
                        <label class="form-check-label" for="question5E">
                        <span>E</span> Carimbo
                      </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question5F">
                        <label class="form-check-label" for="question5F">
                        <span>F</span> Crachat
                      </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question5G">
                        <label class="form-check-label" for="question5G">
                          <span>G</span> Pasta
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="question5H">
                        <label class="form-check-label" for="question5H">
                            <span>H</span> Carimbo
                          </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1"><span><i class="fas fa-arrow-right"></i></span>Caso você tenha optado por desenvolvimento de Rotulo, Caixa/Embalagem ou sacola, nos fale um pouco sobre, Quantos tamanhos e quais as variações exatamente de tipos/sabores/cores/, e finalidades.</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <small class="form-text text-muted">Quanto mais detalhada for esta informação, poderemos cotar o valor do seu projeto com mais precisão. Caso exista alguma variável técnica que a embalagem precise alcançar, como ir no microondas, ser impermeável para congelar e afins, aqui é o lugar perfeito para você falar sobre.</small>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </div>
    </form>
</section>
<footer class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center footer">
            © 2017 Copyright: <a href="https://github.com/marcio133">Márcio de Paula</a> <span class="vers">Version 1.3</span>
        </div>
    </div>
    <!--/.Copyright-->
</footer>